<div>
  <tr>
    <td id="patient-id" data-label="Name" data-value={{patientId}}>
      {{firstName}} {{lastName}}
    </td>
    <td id="risk-factor" data-label="Risk Factor" data-value={{riskFactor}}>
      {{riskFactor}}
    </td>
    <td id="diet-recommendation" data-label="Recommended Diet" data-value={{dietRecommendation}}>
      {{dietRecommendation}}
    </td>
    <td id="diet-restriction" data-label="Restrictions" data-value={{dietRestriction}}>
      {{dietRestriction}}
    </td>
  </tr>
</div>