<div>{{> nav/nav-block }}</div>
<div class="container flex-fill">
  <div class="row">
    <div class="col-12 mb-5">
      <h1>User Info</h1>
      <div class="panel panel-default patient-info" style="overflow-x:auto;">
        <table style="width:100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Risk Factor</th>
              <th>Recommended Diet</th>
              <th>Allergies/Restrictions</th>
            </tr>
          </thead>
          <tbody>
            {{> patients/patient-block}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-12 col-sm-10 offset-sm-1'>
      <h2>New Recipes</h2>
      <div>
        <form>
          <div class="form-group">
            <div class="input-group mb-3">
              <input placeholder="Ingredients(e.g. chicken)" type="text" class="form-control" id="user-input">
              <div class="input-group-append">
                <span>
                  <button
                  type="submit"
                  class="patient-search btn btn-success"
                  data-risk={{riskFactor}}
                  data-recommendation={{{dietRecommendation}}}
                  data-restriction={{{dietRestriction}}}
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row recipe-area" style='display:none'>
    <div class="col-12 col-sm-6 col-md-5 offset-md-1 mb-5">
      <div id="sliders" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner"></div>
        <a class="carousel-control-prev left" href="#sliders" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next right" href="#sliders" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 plotlyjs-container">
      <div class='buttons-wrapper'>
        <button id="macros" class="btn btn-sm plot-btn">MACROS</button>
        <button id="fats" class="btn btn-sm plot-btn">FATS</button>
        <button id="minerals" class="btn btn-sm plot-btn">MINERALS</button>
        <button id="vitamins" class="btn btn-sm plot-btn">VITAMINS</button>
      </div>
      <div id="macros-container" class="donut-container-active"></div>
      <div id="fats-container" class="donut-container"></div>
      <div id="minerals-container" class="donut-container"></div>
      <div id="vitamins-container" class="donut-container"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1">
      <h2>Recipe Box</h2>
      <div class="row">
        {{#each recipes}} {{> recipes/recipe-block}} {{/each}}
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <img src="/css/abetteryou.png" class="brand-logo">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">
          A BETTER YOU
        </h2>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close">close</button>
      </div>
    </div>
  </div>
</div>
{{#each scripts}}
<script src="{{script}}"></script>
{{/each}}
{{#each links}}
<link rel="stylesheet" href="{{link}}" type="text/css" />
{{/each}}