<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<tr>
  <td data-label="Patient Name" data-value={{id}}>
    {{firstName}} {{lastName}}
  </td>
  <td data-label="Risk Factor" data-value={{statistic.riskFactor}}>
    {{riskFactor}}
  </td>
  <td data-label="Recommended Diet" data-value={{dietRecommendation}}>
    {{dietRecommendation}}
  </td>
  <td data-label="Restrictions" data-value={{dietRestriction}}>
    {{dietRestriction}}
  </td>
  <td>
    <button name="button" class="delete-patient btn btn-sm btn-danger" data-patient-id="{{id}}">Delete Patient</button>
  </td>
</tr>