<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<tr>
  <td data-label="Patient Name">{{patient_name}}</td>
  <td data-label="Risk Factor">{{healthStat.risk_factor}}</td>
  <td data-label="Recommended Diet">{{healthStat.diet_recommendation}}</td>
  <td data-label="Restrictions">{{healthStat.diet_restriction}}</td>
  <td>
    <button name="button" class="delete-patient btn btn-sm btn-danger" data-patient-id="{{id}}">Delete Patient</button>
  </td>
</tr>