{{#each recipes}}
<div class="col-sm-6 col-md-4 recipe-card">
  <div class="thumbnail">
    <a href="{{this.recipe}}" target="_blank">
      <img src="{{this.recipe_img}}" alt="recipe-image">
    </a>
  </div>
  <div class="caption">
    <h3 class="recipe-name">{{this.recipe_name}}</h3>
  </div>
  <a href="{{this.recipe}}" target="_blank">
    <button
      class="btn btn-primary get-recipe">
      GET RECIPE
    </button>
  </a>
  <button
    class="btn btn-primary change-favorite"
    data-id="{{this.id}}"
    value={{this.recipe}}
    data-toggle="modal"
    data-target="#login-modal"
    data-favorite="{{this.favorite}}">
    {{#if favorite}}MY FAVORITE{{else}}MAKE FAVORITE{{/if}}
  </button>
  <button
    class="btn btn-danger delete-recipe"
    data-id="{{this.id}}"
    value={{this.recipe_uri}}
    data-toggle="modal"
    data-target="#login-modal">
    DELETE RECIPE
  </button>
</div>
{{/each}}